<?xml version="1.0" encoding="UTF-8"?>
<configuration strict = "true">
<Appenders>
<Appender type = "Console" name = "Happy" >
<Layout type = "patternLayout" pattern = "%d{HH:mm:ss.SSS} [%t] %-7level %logger{36} -%m%n"></Layout>
</Appender>

<Appender type = "File" name= "image" fileName = "./Logger/FrontAccounting.log">
<Layout type = "patternlayout" pattern = "%d{HH:mm:ss.SSS} [%t] %-7level %logger{36} -%m%n"></Layout>
</Appender>
</Appenders>

<loggers>
<Root level = "all">
<AppenderRef ref = "image"></AppenderRef>
</Root>
</loggers>

</configuration>

